.logo{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    margin-bottom: 10px;
    overflow: hidden;
}

.bgimg{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../image/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img.img{
    max-width: 100%;
    max-width: 100%;
}

.actionBtn{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: dodgerblue;
    padding: 10px 12px;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.actionBtn:active{
    transform: scale(0.95)
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button{
    width: 100%;
    background-color:dodgerblue;
    color: #fff;
    font-weight: bold;
}

form.add-form{
    padding: calc(20px * 1);
    border-radius: calc(3px*1);
    background-color: #fff;
}

form input[type=text], form input[type=password], form input[type=email], form input[type=date]{
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #ccc;
}

form input[type=text]:focus, form input[type=password]:focus, form input[type=email]{
    background: transparent;
}

.map{
    background-color: rgb(23, 23, 23);
}